{% extends "base.html" %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block content %}
    <h1>Réinitialisation de votre mot de passe</h1>
    {% if validlink %}
        <p>Entrer votre nouveau mot de passe deux fois:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Changer" /></p>
        </form>
    {% else %}
        <p>Le lien du mot de passe est incorrect, Peut-être car il à été déjà utilisé.
            Veuillez envoyer une nouvelle requête de réinitialiser de mot de passe.</p>
    {% endif %}
{% endblock %}